/* Button styling */
.button {
    -fx-font-size: 16px;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #35c9c5;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10 20 10 20;
}

/* Background color */
.background {
    -fx-background-color: #f0f0f0;
}

/* Label */
.custom-label {
    -fx-font-size: 50px;
    -fx-text-fill: #35c9c5;
    -fx-font-weight: bold;
    -fx-padding: 50 0 0 0; /* Padding-top */
    -fx-font-family: "Comic Sans MS";
}

.register-label {
    -fx-font-size: 20px;
    -fx-text-fill: #35c9c5;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 0px;
    -fx-font-family: "Comic Sans MS";
}
.register-message-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 0px;
    -fx-font-family: "Comic Sans MS";
}